# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Production
*.log

# Environment
.env
.env.local
.env.development.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/

# macOS
.DS_Store
.agents/
